h1 {
      color: #eda200 !important;
      font-size: 1.5em;
}

body {
      background: #191919;
      font-family: "Bungee Inline", cursive;
}

.logo {
      max-width: 150px;
      width: 100%;
      img {
            width: 100%;
      }
}
.mid-text {
      p {
            padding: 0 16em;
      }
}
.low-text {
      background: #eda200;
      padding: 1em 1em;
      border-radius: 10px;

      p {
            font-weight: 900;
      }
}
.form {
      input {
            background: #333332 !important;
            border: none !important;
            padding: 1em !important;
            color: rgb(184, 184, 184) !important;
      }
}
.btn-env {
      background-color: #eda200;
      width: 100%;
      padding: 1em;
      font-weight: 900;
}
::-webkit-input-placeholder {
   color: white !important;
}
 
:-moz-placeholder { /* Firefox 18- */
   color: white !important;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;  
}
 
:-ms-input-placeholder {  
   color: white !important;  
}

@media only screen and (max-width: 600px) {
      .mid-text {
            p {
                  padding: 0 1em;
            }
      }
}
